/*Set the font, vertical margin margin, background, and text color*/
body {
    font-size: large;
    font-family: verdana, arial, sans-serif;

    /**/
    margin: 1vh 0 1vh 0;

    background: lightgreen;
    color: purple;
}

/*Add a horizontal margin around the content*/
#content {
    margin: 0 10vw 0 10vw;
}

/*Make iframes blend in seamlessly*/
iframe {
    width: 100%;
    border: none;
}

/*Center the header and footer*/
header, footer {
    text-align: center;
}

/*Set the header's font-size*/
header {
    font-size: 30px;
}

/*Make links purple*/
a {
    color: purple;
}

/*Style links in the header*/
header a {
    /*Try to keep the whole link together when pushed to another line*/
    display: inline-block;

    /*Keep the links from being jumbled up*/
    margin: 0 3% 0 3%;
    line-height: 2;

    /*Make the text bold and green*/
    font-weight: bold;
    color: green;

    /*Remove the underline*/
    text-decoration: none;
}

/*Underline a header link when hovered over*/
header a:hover {
    text-decoration: underline;
}

/*Give each paragraph an indent*/
p {
    text-indent: 50px;
}

/*Make dividers purple*/
hr {
    border: 2px solid purple;
}

img, .result-img {
    width: 75%;
    max-width: max-content;
}

/*Generic container style*/
.question, .submit-button, .results, .score-box {
    /*Add a rounded border*/
    border: 2px solid darkgreen;
    border-radius: 20px;

    /*Make it look 3D*/
    box-shadow: 4px 4px 8px #00000030; /*Give it a faint shadow*/
    background: linear-gradient(to bottom right, #FFFFFF30, #00000030); /*Make the background a gradient from transparent white to black*/
    
    /*Make the text dark purple*/
    color: #4C3957;
}

/*Style the question container*/
.question {
    /*Keep everything from being jumbled together*/
    padding: 0 50px 30px 50px;
    margin-bottom: 20px;
}

/*Style the submit button*/
.submit-button {
    /*Keep everything from being jumbled together*/
    padding: 30px 50px 30px 50px;
    margin-bottom: 20px;

    /*Make it as wide as the questions*/
    width: 100%;

    /*Make the font larger and bold*/
    font-size: larger;
    font-weight: bold;
}

/*Make the submit button darker when hovered over*/
.submit-button:hover {
    background: linear-gradient(to bottom right, #FFFFFF10, #00000050);
}

/*Make the submit button even darker when clicked*/
.submit-button:active {
    background: linear-gradient(to bottom right, #00000010, #00000080);
}

/*make the canvas*/
#canvas {
    background-image: url("assets/images/diagram.svg");
}

/*Style the score box*/
.score-box {
    display: inline-block;
    width: 60%;
    text-align: center;
}

/*make the score labels display on seperate lines and not jumble together*/
.score {
    display: block;
    padding: 10px 0 20px 0;
}

/*Make an element centered*/
.centered {
    text-align: center;
    align-items: center;
}

/*Mobile*/
@media only screen and (max-width: 1200px) {
    /*Give the body more horizontal margin*/
    body {
        margin-left: 3vw;
        margin-right: 3vw;
    }

    /*Make the header font size larger*/
    header {
        font-size: 50px;
    }
}